# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data (4).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame

display(applicant_data_df)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns

applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ['NAME', 'EIN'])

# Review the DataFrame

display(applicant_data_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ['AFFILIATION', 'APPLICATION_TYPE', 'CLASSIFICATION','USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS' ]

# Display the categorical variables list

display(categorical_variables)

['AFFILIATION',
 'APPLICATION_TYPE',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
display(encoded_df)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns = categorical_variables),encoded_df], axis =1)

# Review the Dataframe

display(encoded_df)

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,APPLICATION_TYPE_T10,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
display(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns = 'IS_SUCCESSFUL')


# Review the features DataFrame
display(X)

,STATUS,ASK_AMT,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons =  len(list(y.drop_duplicates()))


number_output_neurons

2

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  64

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

64

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  32

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

32

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer

nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(number_output_neurons))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                7488

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 2)                 66

=================================================================
Total params: 9,634
Trainable params: 9,634
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled,y_train, 
                    epochs=50,
                    batch_size=100,
                    shuffle=True)

Epoch 1/50
258/258 [==============================] - 1s 3ms/step - loss: 1.2434 - accuracy: 0.4544
Epoch 2/50
258/258 [==============================] - 1s 3ms/step - loss: 0.8335 - accuracy: 0.4834
Epoch 3/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7852 - accuracy: 0.5112
Epoch 4/50
258/258 [==============================] - 1s 3ms/step - loss: 0.8017 - accuracy: 0.5099
Epoch 5/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7872 - accuracy: 0.5007
Epoch 6/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7468 - accuracy: 0.5081
Epoch 7/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7499 - accuracy: 0.5089
Epoch 8/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7759 - accuracy: 0.4033
Epoch 9/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7798 - accuracy: 0.4504
Epoch 10/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7367 - accuracy: 0.4632
Epoch 11/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7357 - accuracy: 0.4808
Epoch 12/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7218 - accuracy: 0.5061
Epoch 13/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7397 - accuracy: 0.5126
Epoch 14/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7350 - accuracy: 0.5295
Epoch 15/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7710 - accuracy: 0.4940
Epoch 16/50
258/258 [==============================] - 1s 3ms/step - loss: 0.8310 - accuracy: 0.4843
Epoch 17/50
258/258 [==============================] - 1s 3ms/step - loss: 0.8189 - accuracy: 0.4235
Epoch 18/50
258/258 [==============================] - 1s 3ms/step - loss: 0.8164 - accuracy: 0.4724
Epoch 19/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7282 - accuracy: 0.4527
Epoch 20/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7214 - accuracy: 0.4458
Epoch 21/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7111 - accuracy: 0.4710
Epoch 22/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6985 - accuracy: 0.5076
Epoch 23/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6936 - accuracy: 0.4651
Epoch 24/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7092 - accuracy: 0.4764
Epoch 25/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7177 - accuracy: 0.5104
Epoch 26/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7069 - accuracy: 0.5449
Epoch 27/50
258/258 [==============================] - 1s 2ms/step - loss: 0.7010 - accuracy: 0.5337
Epoch 28/50
258/258 [==============================] - 1s 2ms/step - loss: 0.7115 - accuracy: 0.4243
Epoch 29/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7014 - accuracy: 0.4778
Epoch 30/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7064 - accuracy: 0.5000
Epoch 31/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6781 - accuracy: 0.4531
Epoch 32/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6636 - accuracy: 0.4405
Epoch 33/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6502 - accuracy: 0.5070
Epoch 34/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6507 - accuracy: 0.4741
Epoch 35/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6488 - accuracy: 0.5210
Epoch 36/50
258/258 [==============================] - 1s 2ms/step - loss: 0.7036 - accuracy: 0.5274
Epoch 37/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7422 - accuracy: 0.5116
Epoch 38/50
258/258 [==============================] - 1s 2ms/step - loss: 0.7295 - accuracy: 0.4817
Epoch 39/50
258/258 [==============================] - 1s 2ms/step - loss: 0.7271 - accuracy: 0.4725
Epoch 40/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6949 - accuracy: 0.4467
Epoch 41/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6732 - accuracy: 0.4806
Epoch 42/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6806 - accuracy: 0.4765
Epoch 43/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6636 - accuracy: 0.5220
Epoch 44/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6505 - accuracy: 0.4431
Epoch 45/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6502 - accuracy: 0.5125
Epoch 46/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6446 - accuracy: 0.5229
Epoch 47/50
258/258 [==============================] - 1s 4ms/step - loss: 0.6378 - accuracy: 0.5044
Epoch 48/50
258/258 [==============================] - 1s 5ms/step - loss: 0.6343 - accuracy: 0.4973
Epoch 49/50
258/258 [==============================] - 1s 4ms/step - loss: 0.6244 - accuracy: 0.4977
Epoch 50/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6223 - accuracy: 0.4710

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6156 - accuracy: 0.4669 - 453ms/epoch - 2ms/step
Loss: 0.6155866384506226, Accuracy: 0.4669387638568878

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

Changes made: 
- Increase nodes to 80 
- Reduce hidden layer to 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 80

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

80

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units =hidden_nodes_layer1_A1,input_dim= number_input_features, activation="relu" ))


# Output layer
nn_A1.add((Dense(number_output_neurons_A1)))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                9360

 dense_4 (Dense)             (None, 1)                 81

=================================================================
Total params: 9,441
Trainable params: 9,441
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled,y_train, 
                    epochs=50,
                    batch_size=100,
                    shuffle=True)

Epoch 1/50
258/258 [==============================] - 1s 3ms/step - loss: 1.4934 - accuracy: 0.6668
Epoch 2/50
258/258 [==============================] - 1s 3ms/step - loss: 1.0703 - accuracy: 0.7042
Epoch 3/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1135 - accuracy: 0.7027
Epoch 4/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1040 - accuracy: 0.7093
Epoch 5/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1532 - accuracy: 0.7070
Epoch 6/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1003 - accuracy: 0.7147
Epoch 7/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1736 - accuracy: 0.6985
Epoch 8/50
258/258 [==============================] - 1s 2ms/step - loss: 1.3472 - accuracy: 0.6787
Epoch 9/50
258/258 [==============================] - 1s 3ms/step - loss: 1.4474 - accuracy: 0.6901
Epoch 10/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1948 - accuracy: 0.7062
Epoch 11/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1985 - accuracy: 0.7130
Epoch 12/50
258/258 [==============================] - 1s 3ms/step - loss: 1.2339 - accuracy: 0.7041
Epoch 13/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1911 - accuracy: 0.7101
Epoch 14/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1879 - accuracy: 0.7139
Epoch 15/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1832 - accuracy: 0.7140
Epoch 16/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1792 - accuracy: 0.7135
Epoch 17/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1833 - accuracy: 0.7143
Epoch 18/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1913 - accuracy: 0.7152
Epoch 19/50
258/258 [==============================] - 1s 2ms/step - loss: 1.2877 - accuracy: 0.7059
Epoch 20/50
258/258 [==============================] - 1s 2ms/step - loss: 1.4395 - accuracy: 0.6944
Epoch 21/50
258/258 [==============================] - 1s 2ms/step - loss: 1.4755 - accuracy: 0.6948
Epoch 22/50
258/258 [==============================] - 1s 2ms/step - loss: 1.4726 - accuracy: 0.6916
Epoch 23/50
258/258 [==============================] - 1s 2ms/step - loss: 1.3577 - accuracy: 0.6966
Epoch 24/50
258/258 [==============================] - 1s 2ms/step - loss: 1.2303 - accuracy: 0.7079
Epoch 25/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1752 - accuracy: 0.7044
Epoch 26/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1159 - accuracy: 0.7165
Epoch 27/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1116 - accuracy: 0.7177
Epoch 28/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1156 - accuracy: 0.7164
Epoch 29/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1293 - accuracy: 0.7128
Epoch 30/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1465 - accuracy: 0.7132
Epoch 31/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1468 - accuracy: 0.7169
Epoch 32/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1454 - accuracy: 0.7127
Epoch 33/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1488 - accuracy: 0.7156
Epoch 34/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1428 - accuracy: 0.7120
Epoch 35/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1274 - accuracy: 0.7173
Epoch 36/50
258/258 [==============================] - 1s 2ms/step - loss: 1.1283 - accuracy: 0.7147
Epoch 37/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1417 - accuracy: 0.7023
Epoch 38/50
258/258 [==============================] - 1s 2ms/step - loss: 1.0552 - accuracy: 0.7188
Epoch 39/50
258/258 [==============================] - 1s 2ms/step - loss: 1.0513 - accuracy: 0.7197
Epoch 40/50
258/258 [==============================] - 1s 3ms/step - loss: 1.0523 - accuracy: 0.7191
Epoch 41/50
258/258 [==============================] - 1s 3ms/step - loss: 1.0571 - accuracy: 0.7163
Epoch 42/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1795 - accuracy: 0.7072
Epoch 43/50
258/258 [==============================] - 1s 2ms/step - loss: 1.0795 - accuracy: 0.7123
Epoch 44/50
258/258 [==============================] - 1s 3ms/step - loss: 1.1379 - accuracy: 0.7132
Epoch 45/50
258/258 [==============================] - 1s 3ms/step - loss: 1.0824 - accuracy: 0.7126
Epoch 46/50
258/258 [==============================] - 1s 2ms/step - loss: 1.0166 - accuracy: 0.7194
Epoch 47/50
258/258 [==============================] - 1s 2ms/step - loss: 0.9879 - accuracy: 0.7208
Epoch 48/50
258/258 [==============================] - 1s 2ms/step - loss: 0.9653 - accuracy: 0.7234
Epoch 49/50
258/258 [==============================] - 1s 2ms/step - loss: 0.9091 - accuracy: 0.7248
Epoch 50/50
258/258 [==============================] - 1s 3ms/step - loss: 0.9076 - accuracy: 0.7241

#### Alternative Model 2. 

Changes made: 
- Increased hidden layers to 3 
- Reduced output layer to 1

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 100


# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

100

In [38]:
# Define the number of neurons for the second hidden layers
hidden_nodes_layer2_A2 = 30

hidden_nodes_layer2_A2

30

In [39]:
# Define the number of neurons for the thrid hidden layers
hidden_nodes_layer3_A2 = 20

hidden_nodes_layer3_A2

20

In [40]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [41]:
# First hidden layer
nn_A2.add(Dense(units =hidden_nodes_layer1_A2,input_dim= number_input_features,activation="relu"  ))


# Second hidden layer 

nn_A2.add(Dense(units =hidden_nodes_layer2_A2, activation="relu"  ))

# Third hidden layer 

nn_A2.add(Dense(units =hidden_nodes_layer3_A2, activation="relu"  ))


# Output layer
nn_A2.add((Dense(number_output_neurons_A2)))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 100)               11700

 dense_6 (Dense)             (None, 30)                3030

 dense_7 (Dense)             (None, 20)                620

 dense_8 (Dense)             (None, 1)                 21

=================================================================
Total params: 15,371
Trainable params: 15,371
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model

nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train, 
                    epochs = 50,
                    batch_size=100,
                    shuffle=True)

Epoch 1/50
258/258 [==============================] - 2s 4ms/step - loss: 0.9263 - accuracy: 0.6960
Epoch 2/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7903 - accuracy: 0.7211
Epoch 3/50
258/258 [==============================] - 1s 3ms/step - loss: 0.7445 - accuracy: 0.7124
Epoch 4/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6713 - accuracy: 0.7186
Epoch 5/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6475 - accuracy: 0.7166
Epoch 6/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6271 - accuracy: 0.7250
Epoch 7/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6297 - accuracy: 0.7125
Epoch 8/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6174 - accuracy: 0.7277
Epoch 9/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6136 - accuracy: 0.7288
Epoch 10/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6204 - accuracy: 0.7274
Epoch 11/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6037 - accuracy: 0.7317
Epoch 12/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6150 - accuracy: 0.7295
Epoch 13/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6074 - accuracy: 0.7311
Epoch 14/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6250 - accuracy: 0.7017
Epoch 15/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6084 - accuracy: 0.7285
Epoch 16/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6035 - accuracy: 0.7213
Epoch 17/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5938 - accuracy: 0.7289
Epoch 18/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6001 - accuracy: 0.7321
Epoch 19/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6086 - accuracy: 0.7255
Epoch 20/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6030 - accuracy: 0.7250
Epoch 21/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6310 - accuracy: 0.7288
Epoch 22/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6412 - accuracy: 0.7247
Epoch 23/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6416 - accuracy: 0.7200
Epoch 24/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6114 - accuracy: 0.7301
Epoch 25/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6143 - accuracy: 0.7319
Epoch 26/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6214 - accuracy: 0.7302
Epoch 27/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6376 - accuracy: 0.7139
Epoch 28/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5941 - accuracy: 0.7284
Epoch 29/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5889 - accuracy: 0.7338
Epoch 30/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5805 - accuracy: 0.7333
Epoch 31/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5758 - accuracy: 0.7328
Epoch 32/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5777 - accuracy: 0.7339
Epoch 33/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5741 - accuracy: 0.7364
Epoch 34/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5821 - accuracy: 0.7358
Epoch 35/50
258/258 [==============================] - 1s 3ms/step - loss: 0.6105 - accuracy: 0.7091
Epoch 36/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5989 - accuracy: 0.7306
Epoch 37/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5887 - accuracy: 0.7328
Epoch 38/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5898 - accuracy: 0.7298
Epoch 39/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6192 - accuracy: 0.7276
Epoch 40/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6198 - accuracy: 0.7327
Epoch 41/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6137 - accuracy: 0.7338
Epoch 42/50
258/258 [==============================] - 1s 2ms/step - loss: 0.6009 - accuracy: 0.7365
Epoch 43/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5992 - accuracy: 0.7348
Epoch 44/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5998 - accuracy: 0.7368
Epoch 45/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5975 - accuracy: 0.7369
Epoch 46/50
258/258 [==============================] - 1s 3ms/step - loss: 0.5946 - accuracy: 0.7365
Epoch 47/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5952 - accuracy: 0.7359
Epoch 48/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5995 - accuracy: 0.7336
Epoch 49/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5915 - accuracy: 0.7364
Epoch 50/50
258/258 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7368

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [44]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6156 - accuracy: 0.4669 - 321ms/epoch - 1ms/step
Loss: 0.6155866384506226, Accuracy: 0.4669387638568878

In [45]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 1.0163 - accuracy: 0.7160 - 425ms/epoch - 2ms/step
Loss: 1.016271710395813, Accuracy: 0.716035008430481

In [46]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6094 - accuracy: 0.7270 - 447ms/epoch - 2ms/step
Loss: 0.6093600988388062, Accuracy: 0.7269970774650574

### Step 3: Save each of your alternative models as an HDF5 file.

In [47]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_1st_alternative_model.h5"

# Export your model to a HDF5 file

nn_A1.save(file_path)

In [48]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_2nd_alternative_model.h5"

# Export your model to a HDF5 file

nn_A2.save(file_path)

In [49]:
from google.colab import files